Package: com.rednick16.trollstorejitenabler
Name: TrollStoreJITEnabler
Version: 1.1.0
Architecture: iphoneos-arm
Description: A library designed to enable Just-In-Time (JIT) compilation for apps installed through TrollStore.
Maintainer: Red16
Author: Red16
Section: System
Tag: role::developer
