Package: com.rednick16.trollstorejitenabler
Name: TrollStoreJITEnabler
Version: 0.0.1
Architecture: iphoneos-arm
Description: JIT enabler for TrollStore installed apps!
Maintainer: Red16
Author: Red16
Section: System
Tag: role::developer
